.product-card {
    border: 1px solid #ccc;
    padding: 10px;
    width: 600px;
    display: flex;
    position: relative;
    width: 72.5rem;
    border: 1px solid black;
    height: 11.8rem;
    background-color: wheat;
    margin-bottom: 3px;
    border-radius: 0.5rem;
  }
  
  .product-image {
    max-width: 100%;
  }
  
  .product-price {
    font-weight: bold;
  }

  
  .product-image {
    position: absolute;
    top: 1.5rem;
    left: 2rem;
    height: 10rem;
    width: 10rem;
    border-radius: 2rem;
    margin-right: 10px;
  }
  
  .product-details {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
  }
  
  .product-details h2 {
    position: absolute;
    top: 1rem;
    left: 13rem;
    width: 47rem;
    font-size: 18px;
    margin: 0;
  }
  
  .product-selection1 {
    position: relative;
    margin-bottom: 5px;
    display: flex;
    top: 4rem;
    width: 20rem;
    left: 17rem;
    flex-direction: column;
  }
  
  .product-selection2 {
    position: absolute;
    top: 4rem;
    left: 40rem;
    width: 20rem;
    margin-bottom: 5px;
    display: flex;
    flex-direction: column;
  }
  
  
  .flipkart:hover {
    filter: drop-shadow(10px 10px 10px black);
    font-weight: bolder;
    zoom: 1.01;
  }
  
  .amazon:hover {
    filter: drop-shadow(10px 10px 10px black);
    font-weight: bolder;
    zoom: 1.01;
  }
  
  .croma:hover {
    filter: drop-shadow(10px 10px 10px black);
    font-weight: bolder;
    zoom: 1.01;
  }
  
  .flipkart {
    position: absolute;
    left: 63rem;
    background-image: url(flipkart1.jpg);
    text-decoration: none;
    background-repeat: no-repeat;
    color: blue;
    background-size: contain;
    border-radius: 20px;
    top: 1rem;
    padding-left: 1.5rem;
    height: 2.5rem;
    width: 8rem;
    padding-right: 0;
    margin-bottom: 4px;
    border: 0;
    font-weight: bolder;
    line-height: 2.5;
    font-size: 1rem;
    text-align: center;
    color: blue;
    background-color: yellow;
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
      inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  }
  
  .amazon {
    position: absolute;
    left: 63rem;
    top: 5.5rem;
    text-decoration: none;
    margin-bottom: 4px;
    padding: 0;
    border: 0;
    background-image: url(amazon1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    height: 2.5rem;
    border-radius: 20px;
    font-weight: bolder;
    padding-left: 1.5rem;
    width: 8rem;
    line-height: 2.5;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    background-color: #de530f;
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
      inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  }
  
  .croma {
    position: absolute;
    text-decoration: none;
    left: 63rem;
    height: 2.5rem;
    top: 9.5rem;
    margin-bottom: 4px;
    background-image: url(croma1.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 20px;
    font-weight: bolder;
    border: 0;
    padding-left: 1.5rem;
    width: 8rem;
    line-height: 2.5;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    background-color: black;
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, 0.6),
      inset -2px -2px 3px rgba(0, 0, 0, 0.6);
  }